@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #313131;
}

.navbar {
  position: fixed;
  top: 15px;
  width: 100%;
  text-align: right;
}

.navbar > .active {
  color: white;
  background-color: #313131;
}

.navbtn {
  margin: 0px 5px;
  padding: 5px 15px;
  display: inline;
  transition: 0.2s;
}

.navbtn:hover {
  color: white;
  background-color: #313131;
  cursor: pointer;
}

.home-section {
  padding-left: 50px;
  padding-top: 70px;
  height: 100vh;
  /*background-color: #880D1E;*/
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

#penn-csa {
  margin-top: 20px;
  width: 35%;
}

#instagram, #facebook {
  font-size: 1.3em;
  margin-left: 25px;
}

.mission {
  margin-top: 20px;
  width: 45%;
}

#listserv-btn {
  margin-top: 30px;
  padding: 5px 15px;
  border: none;
  font: inherit;
  color: white;
  background-color: #313131;
  cursor: pointer;
}

.events-section {
  padding: 50px;
  height: 150vh;
  /*background-color: #B0413E;*/
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

#board-title {
  margin: 10px 0px;
  width: 20%;
}

.board-section {
  padding: 50px;
  height: 150vh;
  /*background-color: #FE4A49;*/
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.board-bios {
 margin: 5px -10px;
}

.card {
  margin: 15px 1%;
  float: left;
  width: 18%;
  text-align: center;
  background-color: rgba(255, 255, 255, .15);  
  box-shadow: 0 3px 5px -2px #CAA2C0;
}

.card-img {
  position: relative;
  float: left;
  width: 100%;
}

.board-bio {
  margin-bottom: 25px;
}

.fg-section {
  height: 100vh;
  /*background-color: #FF8C42;*/
  background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.merch-section {
  height: 100vh;
  /*background-color: #F7AA59;*/
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.footer-section {
  height: 150px;
  background-color: lightgray;
}


.container {
  position: relative;
  margin: 50px auto;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}